In [10]:
import pandas as pd
import numpy as np
import string
import math
import re

def preprocess(df):
    ## 處理None值
#      avg_age = df['Age'].mean() #作法一: 取平均值
#     avg_age = df['Age'].median() #作法二: 取中位數
#     作法三: 用相同的分布產生亂數塞入
    std = df['Age'].std()
    mean = df['Age'].mean()
    size = len(df[pd.isnull(df['Age'])])
    age_null_random_list = np.random.randint(mean - std, mean + std, size=size)
    df.loc[pd.isnull(df['Age']), 'Age'] = age_null_random_list
    
    # fare discretization
    def farecat(f):
        if f <= 16:
            cat = 0
        elif f > 17 and f <= 32:
            cat = 1
        elif f > 32 and f <= 48:
            cat = 2
        elif f < 48 and f <= 64:
            cat = 3
        elif f < 64 and f <= 80:
            cat = 4
        elif f < 80 and f <= 96:
            cat = 5
        else:
            cat = 6
        return cat

    # avg_fare
    fares_notnull = df[pd.notnull(df['Fare'])]['Fare']
    avg_fare = fares_notnull.median()

    # ticket
    ticket_cat = {}
    for ticket in df['Ticket']:
        if ticket.isdigit():
            ticket_cat[ticket] = 1
        elif ticket.startswith('A'):
            ticket_cat[ticket] = 2
        elif ticket.startswith('C'):
            ticket_cat[ticket] = 3
        elif ticket.startswith('F'):
            ticket_cat[ticket] = 4
        elif ticket.startswith('P'):
            ticket_cat[ticket] = 5
        elif ticket.startswith('SOTON'):
            ticket_cat[ticket] = 6
        elif ticket.startswith('STON'):
            ticket_cat[ticket] = 7
        elif ticket.startswith('S'):
            ticket_cat[ticket] = 8
        elif ticket.startswith('W'):
            ticket_cat[ticket] = 9
        else:
            ticket_cat[ticket] = 0
            
    ticket_cat1 = {}
    for num, name in enumerate(list(set([item.split()[0].replace(".", "").replace("/", "") for item in df['Ticket'] if not item.isdigit()]))):
        ticket_cat1[name] = num
    
    # cabin
    cabin_cat = {}
    for cabin in df['Cabin']:
        if pd.isnull(cabin):
            cabin_cat[cabin] = 0
        elif cabin.startswith('A'):
            cabin_cat[cabin] = 1
        elif cabin.startswith('B'):
            cabin_cat[cabin] = 2
        elif cabin.startswith('C'):
            cabin_cat[cabin] = 3
        elif cabin.startswith('D'):
            cabin_cat[cabin] = 4
        elif cabin.startswith('E'):
            cabin_cat[cabin] = 5
        else:
            cabin_cat[cabin] = 0
    
    # embarked
    embarked_cat = {}
    for embarked in df['Embarked']:
        if pd.isnull(embarked):
            embarked_cat[embarked] = 0
        elif embarked.startswith('S'):
            embarked_cat[embarked] = 0
        elif embarked.startswith('Q'):
            embarked_cat[embarked] = 1
        elif embarked.startswith('C'):
            embarked_cat[embarked] = 2
            
    # title
    title_mapping= {
        'Ms':"Miss",
        'Mlle':"Miss",
        'Miss':"Miss",
        'Mrs':"Mrs",
        'Mme':"Mrs",
        'MrsMartin(ElizabethL':"Mrs",
        'Mr':"Mr"
        }
    
    title_cat = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}
    
    # Name_with specail chars
    def withspecailchar(name):
        for char in name:
            if char in string.punctuation:
                return 1
        return 0
    
    def applyfun(row):
        # Normalization
        row['Fare'] = row['Fare'] if pd.notnull(row['Fare']) else avg_fare
        row['Fare_log10'] = math.log(row['Fare'], 10) if  row['Fare'] != 0 else 0
                
        # Transformation
        row['Cabin'] = cabin_cat.get(row['Cabin'])  ## 整理艙位的類別
        row['Ticket'] = ticket_cat.get(row['Ticket'])  ## 整理票券類別
        row['Embarked'] = embarked_cat.get(row['Embarked'])  ## 整出發地類別
        row['Sex'] = 1 if row['Sex'] == 'male' else 0  ## 性別
        row['Name_Length'] = len(row['Name'])  ## Name => Name_Length
        row['Name_With_Special_Char'] = withspecailchar(row['Name'].replace(',', "").replace('.', ""))  ## Name => Name_With_Special_Char
        call = re.search(r'\,.+\.', row['Name']).group(0).replace(",", "").replace(".", "").replace(" ", "")
        call_cat = title_cat.get(title_mapping.get(call, "Rare"))
        row['Title'] = call_cat  ## Name => Title

        # Discretization
        row['Fare_Cat'] = farecat(row['Fare'])
        
        # Integration
        row['Family_Size'] = row['SibSp'] + row['Parch']
        row['Is_Alone']= 1 if row['Family_Size'] == 1 else 0
        row['Is_Mother']= 1 if row['Parch'] > 1 and row['Age']>20 else 0

        return row
    
    df = df.apply(applyfun, axis=1)
    df.drop(['Name', 'Fare'], axis=1, inplace=True)
    return df

df = pd.read_csv('train.csv')
df = preprocess(df)
df

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Cabin,Embarked,Fare_log10,Name_Length,Name_With_Special_Char,Title,Fare_Cat,Family_Size,Is_Alone,Is_Mother
0,1,0,3,1,22.0,1,0,2,0,0,0.860338,23,0,1,0,1,1,0
1,2,1,1,0,38.0,1,0,5,3,2,1.852988,51,1,3,5,1,1,0
2,3,1,3,0,26.0,0,0,7,0,0,0.898999,22,0,2,0,0,0,0
3,4,1,1,0,35.0,1,0,1,3,0,1.725095,44,1,3,4,1,1,0
4,5,0,3,1,35.0,0,0,1,0,0,0.905796,24,0,1,0,0,0,0
5,6,0,3,1,15.0,0,0,1,0,1,0.927283,16,0,1,0,0,0,0
6,7,0,1,1,54.0,0,0,1,5,0,1.714853,23,0,1,4,0,0,0
7,8,0,3,1,2.0,3,1,1,0,0,1.323768,30,0,5,1,4,0,0
8,9,1,3,0,27.0,0,2,1,0,0,1.046624,49,1,3,0,2,0,1
9,10,1,2,0,14.0,1,0,1,0,2,1.478145,35,1,3,1,1,1,0
10,11,1,3,0,4.0,1,1,5,0,0,1.222716,31,0,2,3,2,0,0
11,12,1,1,0,58.0,0,0,1,3,0,1.424065,24,0,2,1,0,0,0
12,13,0,3,1,20.0,0,0,2,0,0,0.905796,30,0,1,0,0,0,0
13,14,0,3,1,39.0,1,5,1,0,0,1.495197,27,0,1,1,6,0,1
14,15,0,3,0,14.0,0,0,1,0,0,0.895102,36,0,2,0,0,0,0
15,16,1,2,0,55.0,0,0,1,0,0,1.204120,32,1,3,0,0,0,0
16,17,0,3,1,2.0,4,1,1,0,1,1.464266,20,0,5,1,5,0,0
17,18,1,2,1,17.0,0,0,1,0,0,1.113943,28,0,1,0,0,0,0
18,19,0,3,0,31.0,1,0,1,0,0,1.255273,55,1,3,1,1,1,0
19,20,1,3,0,29.0,0,0,1,0,2,0.858838,23,0,3,0,0,0,0
20,21,0,2,1,35.0,0,0,1,0,0,1.414973,20,0,1,1,0,0,0
21,22,1,2,1,34.0,0,0,1,4,0,1.113943,21,0,1,0,0,0,0
22,23,1,3,0,15.0,0,0,1,0,1,0.904672,27,1,2,0,0,0,0
23,24,1,1,1,28.0,0,0,1,1,0,1.550228,28,0,1,2,0,0,0
24,25,0,3,0,8.0,3,1,1,0,0,1.323768,29,0,2,1,4,0,0
25,26,1,3,0,38.0,1,5,1,0,0,1.496757,57,1,3,1,6,0,1
26,27,0,3,1,35.0,0,0,1,0,2,0.858838,23,0,1,0,0,0,0
27,28,0,1,1,19.0,3,2,1,3,0,2.419956,30,0,1,6,5,0,0
28,29,1,3,0,17.0,0,0,1,0,1,0.896482,29,1,2,0,0,0,0
29,30,0,3,1,40.0,0,0,1,0,0,0.897396,19,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,1,21.0,1,0,1,0,0,1.060698,27,0,1,0,1,1,0
862,863,1,1,0,48.0,0,0,1,4,0,1.413789,51,1,3,1,0,0,0
863,864,0,3,0,32.0,8,2,3,0,0,1.842297,33,1,2,5,10,0,1
864,865,0,2,1,24.0,0,0,1,0,0,1.113943,22,0,1,0,0,0,0
865,866,1,2,0,42.0,0,0,1,0,0,1.113943,24,1,3,0,0,0,0
866,867,1,2,0,27.0,1,0,8,0,2,1.141710,28,0,2,0,1,1,0
867,868,0,1,1,31.0,0,0,5,1,0,1.703255,36,0,1,4,0,0,0
868,869,0,3,1,22.0,0,0,1,0,0,0.977724,27,0,1,0,0,0,0
869,870,1,3,1,4.0,1,1,1,0,0,1.046624,31,0,5,0,2,0,0
870,871,0,3,1,26.0,0,0,1,0,0,0.897396,17,0,1,0,0,0,0
871,872,1,1,0,47.0,1,1,1,4,0,1.720607,48,1,3,4,2,0,0
872,873,0,1,1,33.0,0,0,1,2,0,0.698970,24,0,1,0,0,0,0
873,874,0,3,1,47.0,0,0,1,0,0,0.954243,27,0,1,0,0,0,0
874,875,1,2,0,28.0,1,0,5,0,2,1.380211,37,1,3,1,1,1,0
875,876,1,3,0,15.0,0,0,1,0,2,0.858838,32,1,2,0,0,0,0
876,877,0,3,1,20.0,0,0,1,0,0,0.993251,29,0,1,0,0,0,0
877,878,0,3,1,19.0,0,0,1,0,0,0.897396,20,0,1,0,0,0,0
878,879,0,3,1,25.0,0,0,1,0,0,0.897396,18,0,1,0,0,0,0
879,880,1,1,0,56.0,0,1,1,3,2,1.919906,45,1,3,6,1,1,0
880,881,1,2,0,25.0,0,1,1,0,0,1.414973,44,1,3,1,1,1,0
881,882,0,3,1,33.0,0,0,1,0,0,0.897396,18,0,1,0,0,0,0
882,883,0,3,0,22.0,0,0,1,0,0,1.021879,28,0,2,0,0,0,0
883,884,0,2,1,28.0,0,0,3,0,0,1.021189,29,0,1,0,0,0,0
884,885,0,3,1,25.0,0,0,6,0,0,0.848189,22,0,1,0,0,0,0
885,886,0,3,0,39.0,0,5,1,0,1,1.464266,36,1,3,1,5,0,1
886,887,0,2,1,27.0,0,0,1,0,0,1.113943,21,0,5,0,0,0,0
887,888,1,1,0,19.0,0,0,1,2,0,1.477121,28,0,2,1,0,0,0
888,889,0,3,0,28.0,1,2,9,0,0,1.370143,40,1,2,1,3,0,1
889,890,1,1,1,26.0,0,0,1,3,2,1.477121,21,0,1,1,0,0,0
890,891,0,3,1,32.0,0,0,1,0,1,0.889302,19,0,1,0,0,0,0